body{
    background: linear-gradient(green,red);
}
.demo{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background: url('../images/v2-9b44b6600750ad4902f443ee1bb59c05_hd.jpg')
}